@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

$dark-color: rgba(0, 0, 0, 0.85);
$light-color: white;
$primary-color: steelblue;
$reminder-color: green;
$task-background-color: #f4f4f4;
$font-stack: "Poppins", sans-serif;
